.btn btn-primary {
    height: 200px;
    width: 200px;
}

.text-right {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
    color: #3E497A;
}

.div {
    width: 300px;
    padding: 25px;
}

.add-task {
    background-color: #608085;
    width: 100%;
    color: white;
}

.container {
    column-count: 1;
    column-gap: 40px;
    box-sizing: border-box;
    min-width: 100%;
}

.field-background-color {
    background-color: #B4CFB0;
}

.margin1 {
    left: 0;
    margin-top: 15%;
    margin-left: 1%;
}

.add-title {
    width: 100%;
    height: 30px;
    border-style: solid black;
    border-width: medium;
}

.add-description {
    width: 100%;
    height: 100px;
    border-style: solid;
    border-width: medium;
}

.btn-danger {
    width: 100%;
}

.modal-content {
    background-color: #F5EEDC;
}

.modal-footer {
    background-color: #F5EEDC;
}

.card-header {
    background-color: #F5EEDC;
    text-align: left;
}

.card-body {
    background-color: #F5EEDC;
}

.card-text {
    min-height: 50px;
    overflow-wrap: break-word;
}

.add-button {
    background-color: #608085;
    color: white;
}

.date {
    text-align: right;
    background-color: #F5EEDC;
}

.add-cancel {
    background-color: #608085;
    color: white;
}

.add-sss {
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.position {
    position: fixed;
    left: 0;
}

.position1 {
    position: absolute;
    right: 0;
    margin-top: 4%;
    width: 100;
    max-height: 100%;
    overflow: auto;
}

@media only screen and (max-width: 770px) {
    .position {
        position: relative;
        left: 0;
    }
    .position1 {
        position: inherit !important;
        right: 0;
    }
    .container {
        height: auto;
    }
}

.height-100-vh {
    height: 100vh !important;
}

.status {
    background-color: #B4CFB0;
    border-style: solid;
    border-width: medium;
    box-sizing: border-box;
    width: auto;
    position: relative;
    left: 84%;
    text-align: center;
}

.new-task {
    text-align: center;
    text-shadow: black;
    font-weight: bold;
    background-color: grey;
}

.in-progress {
    text-align: center;
    text-shadow: black;
    font-weight: bold;
    background-color: yellow;
}

.on-hold {
    text-align: center;
    text-shadow: black;
    font-weight: bold;
    background-color: #FF281B;
}

.completed {
    text-align: center;
    text-shadow: black;
    font-weight: bold;
    background-color: green;
}