<h1>
    Angular Learning</h1>
<h3> Phase 1 </h3>
<div class="container">
    <ul>
        <li role="presentation" class="active"><a routerLink="/">Home</a></li>
        <li role="presentation">
            <a routerLink="/session1">Session 1</a></li>
        <li role="presentation">
            <a routerLink="session2">Session 2</a></li>
        <li role="presentation">
            <a routerLink="session3">Session 3</a></li>
        <li role="presentation">
            <a routerLink="session5">Session 5</a></li>
        <li role="presentation">
            <a routerLink="session6">Session 6</a></li>
        <li role="presentation">
            <a routerLink="session7">Session 7</a></li>
        <li role="presentation">
            <a routerLink="session9">Session 9</a></li>
        <li role="presentation">
            <a routerLink="session11">Session 11</a></li>
    </ul>
    <div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-2 col-md-offset-2">

        </div>
    </div>
</div>
<hr/>
<h3> Phase 2 </h3>
<ul>
    WIP
</ul>